body {
    background-color: #fff;
    margin: 0;
    padding: 0;
  }

  #left {
    position: fixed;
    top: 0;
    left: 0;
    height: 30%;
    width: 10%;
    
    background-size: cover;
    animation-name: left-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  #right {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    
    background-size: cover;
    animation-name: right-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes left-animation {
    from { transform: translateX(-50px); }
    to { transform: translateX(0); }
  }

  @keyframes right-animation {
    from { transform: translateX(50px); }
    to { transform: translateX(0); }
  }