* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
img {
    width: 100%;
    margin-bottom: 10px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

h2 {
    text-align: center;
  }
  
#boton-carrito {
    border: none;
    color: royalblue;
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: royalblue;
}
#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}
.producto {
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.producto:hover {
    box-shadow: 0px 0px 10px 5px rgba(14, 190, 34, 0.5);
    transform: translateY(-5px);
  }
.precioProducto {
    font-weight: 700;
}
.boton-agregar {
    background-color: rgb(36, 170, 15);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
    border-radius: 10px;
}
.boton-agregar:hover {
    cursor: pointer;
}
.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(14, 14, 14, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: rgb(24, 166, 22);
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: royalblue;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid rgb(65, 225, 73);
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}
img {
    width: 200px;
    height: 200px;
  }
  .boton-pagar{
    background-color: rgb(36, 170, 15);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
    border-radius: 30px;
    margin-left: 300px;
  }
  
  /* Media queries */

@media screen and (max-width: 1200px) {
    .producto {
      max-width: 25%;
    }
  }
  
  @media screen and (max-width: 992px) {
    header {
      padding: 20px 5%;
    }
    h1 {
      font-size: 40px;
    }
    #contenedor-productos {
      max-width: 960px;
      margin: 60px auto;
    }
    .producto {
      max-width: 33.33%;
    }
  }
  
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 5%;
    }
    h1 {
      font-size: 30px;
    }
    #boton-carrito {
      font-size: 30px;
      padding: 10px 15px;
    }
    #contenedor-productos {
      max-width: 720px;
      margin: 40px auto;
    }
    .producto {
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 576px) {
    #contenedor-productos {
      max-width: 100%;
      margin: 20px auto;
    }
    .producto {
      max-width: 100%;
    }
  }
  
  /* Fin de media queries */
  .buscador {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #busqueda {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    width: 70%;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  