$appW: 150px;
$appH: 50px;
$iconW: 30px;
$iconH: 30px;

* {
    box-sizing: border-box;
}

h2{
    text-align: center;
}



  
  
  

h4 {
    margin-bottom: 30px;
    color: chartreuse;

    .bg-white {
        align-self: auto;
    }
}

.app {
    justify-content: space-around;

    img {
        width: $appW;
        height: $appH;
    }
}

.redes {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;

    .bg-white {
        display: flex;
        height: 50%;
        width: 80%;
        justify-content: space-evenly;
        margin-top: 8px;
        margin-bottom: 15px;

        img {
            height: $iconH*1.5;
            width: $iconW*1.5;
            padding: 3px;
        }
    }
}

.copy {
    position: relative;
    

    margin-bottom: 2px;
    font-size: 0.8rem;
    
    
}


@media (min-width: 992px) {

.bg-secondary{
   
    min-height: 250px;
    .redes {
        width: 65%;
        height: 70%;
        position: relative;
        bottom: 55px;
        left: -200px;
        .bg-white {
            width: 80%;
            height: $iconH*1.9;
            background-color: brown;
            img {
                height: $iconH*1.8;
                width: $iconW*1.9;
            }
        }
    }
    .app {
        display: block;
        height: $appH*4;
        width: 100%;

        img {
            width: $appW*2.2;
            height: $appH*1.8;
            margin-top: 3%;
        }
    }
  
}
}