@import url('https://fonts.googleapis.com/css2? family= Inter & mostrar=intercambiar');
*{
    font-family: 'Inter', sans-serif-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior:smooth;
    list-style: none;
    text-decoration:none;
}
/*Variable*/
:root{
    --main-color:#dc1414;
    --second-color:#c9910f;
    --text-color:#fcfcfc;
    --bg-color:#000000;
    --box-shadow:2px 2px 10px 4px rgb(14 55 54 / 15%); 
}
img{
    width: 125px;
    height: 125px;
}
body{
    color:var(--bg-color);
}
header{
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    transition: 0.5s linear;
}
header.shadow{
    background: var(--text-color);
    box-shadow: var(--box-shadow);
}
.logo-img{
    width: 10px;
    height: 20px;
}
.navbar{
    display: flex;
}
.navbar a{
    padding: 8px 17px;
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover{
    background: var(--main-color);
    border-radius:0.2rem;
    transition: 0.2s all linear;
}
.header-icon{
    font-size: 22px;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    column-gap: 0.8rem;
}
.header-icon .bx{
    color: var(--bg-color);
}
.header-icon .bx:hover{
    color: var(--main-color);
}

.search-box{
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%);
  background: var(--bg-color);
  width: 100%;  
}
.search-box.active{
    top: 110%;
    box-shadow:var(--box-shadow);
    transition: 0.2s all linear;
}
.search-box input{
  padding: 20px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  color: var(--main-color);
}
.search-box input::placeholder{
    font-size: 1rem;
    font-weight:500px;
}

@media(max-width:991px){
    header{
        padding: 16px 68px;
    }
}
@media(max-width: 768px){
    header{
        padding: 12px 4%;
    }
}
