.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box {
    width: 300px;
    height: 50px;
    background-color: #ccc;
    border-radius:20px;
    border-bottom: 1px solid rgb(8, 68, 5)
}
.box p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.green2 {
    background-color: rgb(22, 188, 22);
}
.grey {
    background-color: rgb(184, 179, 179);
}
.register {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .register h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 16px;
    font-weight: bold;
  }
  
  input {
    display: flex;
    width: 330px;
    padding: 10px;
    border: 1px solid #16c11c;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #f3f3f0;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;    
  }
